XML&DTD/Ex_1(Week#1)/bulletin.dtd

<!ELEMENT BOARD (NAME,ARTICLE+)>
<!ELEMENT ARTICLE (TITLE, W_MSG, W_ID, W_NAME, REPLY*)>
<!ELEMENT REPLY (R_MSG, W_ID, W_NAME)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT W_MSG (#PCDATA)>
<!ELEMENT W_ID (#PCDATA)>
<!ELEMENT W_NAME (#PCDATA)>
<!ELEMENT R_MSG (#PCDATA)>


<!ATTLIST ARTICLE AUTHOR CDATA #IMPLIED>
<!ATTLIST ARTICLE EDITOR CDATA #IMPLIED>
<!ATTLIST ARTICLE DATE CDATA #IMPLIED>
<!ATTLIST ARTICLE EDITION CDATA #IMPLIED>


<!ENTITY BOARD "KWAK_BULLETIN">
